node_modules/
**/node_modules/
.env
.env.local
.env.*.local
*.env
dist/
dist-ssr/
build/
**/dist/
**/build/
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db
uploads/
**/uploads/
tmp/
temp/
